<html>
  <title>Node Mongo and handlebars demo</title>
  <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"></link>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/script.js"></script>
  <body style="margin:40px 20px;">
  	{{{body}}}
  </body>
</html>