<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
        <i class="icon Frown massive muted inverted black"></i>
        <div class="ui huge header muted">404</div>
        <h3>This page takes you nowhere, goto <a href="/">home</a> page</h3>   
   </div>
</div>