<div class="container">
<div class="ui one column stackable center aligned page grid">
  <div class="column six wide piled segment ui">
    <h3>Register</h3>
    <form class="ui form frmregister" method="post" action="register">
      <div class="field">
        <div class="ui left icon input">
            <input autocomplete="off" name="name" placeholder="Your Name" type="text">
            <i class="male icon"></i>
        </div> 
      </div>    
      <div class="field">
        <div class="ui left icon input">
            <input autocomplete="off" name="username" placeholder="Username" type="text">
            <i class="user icon"></i>
        </div> 
      </div>
      <div class="field">
        <div class="ui left icon input">
            <input autocomplete="off" name="password" placeholder="Password" type="password">
            <i class="lock icon"></i>
        </div>
      </div>
      <button class="ui button positive" type="submit">Submit</button>
      <p>Already have a account? <a href="/login">Login here</a>
    </form>
  </div>
    
</div>